<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="main.css")
        title Главная
    body
        include ../header/header.pug
        main
            .container.flex
                .content-block
                    h1 Продажи за 30 дней
                    hr
                    h2 19 * 186 305, 30
                    table
                        tr
                            th Наименование
                            th Сумма
                            th Количество
                        tr
                            td Сода кальцинированная
                            td.width 1 003 000
                            td.width 10 000
                        tr
                            td Натрий двууглекислый (бикарбонат натрия)
                            td 500 000
                            td 3 000
                        tr
                            td Хлористый кальций (жидкий)
                            td 200 000
                            td 4 000
                        tr
                            td Сажи белые и кремнеземные наполнители
                            td 159 000
                            td 4 500    
                .graf-block
            