header
    .container.flex.space-between
        .header-nav.flex
            .header-logo
                img(src="..//img/logo.png", alt="Логотип")
            nav.flex.nav
                a(href="../main/main.html").border Главная
                a(href="#") Поиск
                a(href="../product/product.html") Продукция
                a(href="#") Задачи
                a(href="../document/document.html") Документация
        .header-account.flex
            .bell
                include ../img/bell.svg
            .msg
                include ../img/msg.svg
                span.count 5
            .acc.flex
                img(src="../img/avatar.png", alt="")
                a(href="#") Логин
                    
                        
                                           